.task-list .ant-list-header,
.task-list .ant-list-footer {
    padding: 4px !important;
}

.drag-handle,
.drag-handle * {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
